<{if $block.notfound}>
<br /><br /><center><table style='align:center; border: 1px solid gray; width:50%; background:#F0F0F0'><tr><td align=center><br><{$block._MD_SWIKI_PAGENOTFOUND}><br /><br /></td></tr></table><br /><br /></center>
<{else}>
<{if $block.showTitle}><h2><{$block.title}></h2><{/if}>
<{$block.body}>
<{if $block.nav}><div style="text-align:center"><{$block.nav}></div><br /><{/if}>
<div style="text-align: <{$smarty.const._GLOBAL_RIGHT}>; padding: 3px; margin: 0px; color : #8090B1; clear: both;"><span style = "border-top: 1px solid #8090B1; padding: 3px; font-style:italic; font-size:small;" >
<{if $block.showAuthor}><span class="itemPoster"><{$block.author}></span>, <{$block.lastmodified}><{/if}>
<{if $block.mayEdit}> <input type="button" onclick="self.location.href='<{$xoops_url}>/modules/<{$block.dirname}>/index.php?page=<{$block.encodedurl}>&amp;op=edit';" value="<{$block.EDIT}>" />
<{/if}>
</span></div>
<{/if}>
