<script src="<{$icms_url}>/modules/<{$block.dirname}>/js/jquery.dotdotdot.min.js"></script>
<{literal}>
<script>
    $(document).ready(function() {
		$(".lwiki").dotdotdot({
			height: <{/literal}><{$block.charnum}><{literal}>
		});
    });
</script>
<{/literal}>

<ul class="listawiki" style="padding:0">
  <{foreach item=link from=$block.links}>
    <li>
		<a href="<{$icms_url}>/modules/<{$block.dirname}>/index.php?page=<{$link.page}>"><{$link.title}></a>
		<div class="lwiki"><{if $link.body}><{$link.body}><{/if}></div>
		<{if $link.summary}><p class="comText"><{$link.summary}></p><{/if}>
		<span class="itemPoster"><{if $link.user}><{$link.user}><{/if}></span>
		<span class="itemPostDate"><{if $link.lastmodified}><{$link.lastmodified}><{/if}></span>
	</li>
 <{/foreach}>
</ul>