<script src="<{$icms_url}>/modules/<{$block.dirname}>/js/jquery.dotdotdot.min.js"></script>
<{literal}>
<script>
    $(document).ready(function() {
		$(".lwiki").dotdotdot({
			height: <{/literal}><{$block.charnum}><{literal}>
		});
    });
</script>
<{/literal}>

<ul class="listawiki" style="padding:0">
  <{foreach item=link from=$block.links}>
    <li>
		<a href="<{$icms_url}>/modules/<{$block.dirname}>/index.php?page=<{$link.page}>"><{$link.title}></a>
		<{if $link.body}><div class="lwiki"><{$link.body}></div><{/if}>
		<{if $link.summary}><p class="comText"><{$link.summary}></p><{/if}>
		<{if $link.user}><span class="itemPoster"><{$link.user}></span><{/if}>
		<{if $link.lastmodified}><span class="itemPostDate"><{$link.lastmodified}></span><{/if}>
	</li>
 <{/foreach}>
</ul>