<{$swikiform.javascript}>
<form id="<{$swikiform.name}>" name="<{$swikiform.name}>" action="<{$swikiform.action}>" method="<{$swikiform.method}>" <{$swikiform.extra}>>
<table class="outer" cellspacing="1">
    <tr>
    <th colspan="2"><{$swikiform.title}></th>
    </tr>
    <!-- start of form elements loop -->
    <{foreach item=element from=$swikiform.elements}>
        <{if $element.hidden != true}>
			<tr>
			<{if $element.name == "body"}>
					<td class="head" colspan=2><{$element.caption}></td></tr><tr>
					<td colspan=2 class="<{cycle values="even,odd"}>"><{$element.body}></td>
			<{else}>
					<td class="head"><{$element.caption}></td>
					<td class="<{cycle values="even,odd"}>"><{$element.body}></td>
			<{/if}>
			</tr>
        <{else}>
        <{$element.body}>
        <{/if}>
    <{/foreach}>
    <!-- end of form elements loop -->
</table>
</form>

<{if $swiki}>
<h1><{$swiki.title}></h1>
<{$swiki.body}><{/if}>
