<style>
ins {
    background-color: #c6ffc6;
    text-decoration: none;
}
del {
    background-color: #ffc6c6;
}
table th {
    width: 30%;
}
tr.highlitedrevision td {
	background-color: #ffc6c6; padding: 5px;
}
</style>

<script type="text/javascript" src="<{$icms_url}>/modules/<{$swiki.wikidir}>/js/diff_match_patch.js"></script>
<script type="text/javascript" src="<{$icms_url}>/modules/<{$swiki.wikidir}>/js/jquery.pretty-text-diff.js"></script>

<{$smarty.const._MD_SWIKI_HISTORY_TXT}> : <{$swiki.keyword}>
<input type="button" onclick="self.location.href='index.php?page=<{$swiki.keyword}>';" value="<{$smarty.const._MD_SWIKI_PAGEVIEW_BTN}>" />

<h2><{$swiki.title}></h2>
<{if $swiki.diff}>
<table class="diff" border="1" cellspacing="0" cellpadding="3">
	<thead>
		<tr>
			<th><{$smarty.const._MD_SWIKI_DIFF_ORIGINAL}></th>
			<th><{$smarty.const._MD_SWIKI_DIFF_CHANGED}></th>
			<th><{$smarty.const._MD_SWIKI_DIFF_DIFF}></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="original"><{$swiki.bodyorig}></td><td class="changed"><{$swiki.bodychanged}></td><td class="diff"></td>
		</tr>
	<tbody>
</table>
<{else}>
<{$swiki.body}>
<{/if}>
<script type="text/javascript">
    <!--
        function restoreRevision(id)
        {
            document.restore.id.value = id;
            document.restore.submit();
        }
    // -->
</script>
<form id="restore" name="restore" action="index.php" method="post">
	<input type="hidden" id="op" name="op" value="restore" />
	<input type="hidden" id="page" name="page" value="<{$swiki.keyword}>" />
	<input type="hidden" id="id" name="id" value="<{$swiki.revid}>" />
</form>
<br />
<strong><{$smarty.const._MD_SWIKI_HISTORY_BTN}></strong>
<table border="0" cellpadding="0" cellspacing="1" width="100%" class="outer">
	<tr class="head"><td></td><td><strong><{$smarty.const._MD_SWIKI_TITLE_COL}></strong></td><td width="20%"><strong><{$smarty.const._MD_SWIKI_MODIFIED_COL}></strong></td><td width="10%"><strong><{$smarty.const._MD_SWIKI_AUTHOR_COL}></strong></td><td width=""><strong><{$smarty.const._MI_SWIKI_REVISION_SUMMARY}></strong></td><td width="30%"><strong><{$smarty.const._MD_SWIKI_ACTION_COL}></strong></td></tr>
	<{foreach from=$hist item=revision}>
	<tr <{if $revision.id == $swiki.revid}>class="highlitedrevision"<{else}>class="<{cycle values=even,odd}>"<{/if}> >
		<td width=10 style="color: #FF0000; font-weight:bold"><{if $revision.id == $swiki.revid}><img src="images/hand.gif" alt='' /><{else}>&nbsp;<{/if}></td>
		<td><a href="?op=history&amp;page=<{$revision.keyword}>&amp;id=<{$revision.id}>"><{$revision.title}></a></td>
		<td><{$revision.lastmodified}></td>
		<td><{$revision.username}></td>
		<td><{$revision.summary}></td>
		<td>
			<a href="?op=history&amp;page=<{$revision.keyword}>&amp;id=<{$revision.id}>"><{$smarty.const._MD_SWIKI_VIEW_BTN}></a> | 
			<a href="?op=diff&amp;page=<{$revision.keyword}>&amp;id=<{$revision.id}>"><{$smarty.const._MD_SWIKI_COMPARE_BTN}></a>
			<{if $allowRestore}> | <a href="javascript:restoreRevision('<{$revision.id}>');"><{$smarty.const._MD_SWIKI_RESTORE_BTN}></a><{/if}>
		</td>
	</tr>
	<{/foreach}>
</table>
<p align='<{$smarty.const._GLOBAL_RIGHT}>'><input type='button' onclick="self.location.href='index.php?page=<{$swiki.keyword}>';" value="<{$smarty.const._MD_SWIKI_PAGEVIEW_BTN}>" /></p>
<script>$(document).ready(function() {
    $(".diff tr").prettyTextDiff({});
  });
</script>